<!--
    Dos formas de enviar datos:
    GET: Viajan por url
    POST: Viajan por las cabeceras http
-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8' />
        <title>
            {% block title %}

            {% endblock %}
            | DServo labs
        </title>
        {% load static %}    
        <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}" /> 
    </head>
    <body>
        <!--Cabecera de la página-->
        <header>
            <div id="logotipo">
                <!--Logo Django-->
                <img src="{% static 'images/logo.png' %}" />
                <h1>Proyecto <strong>Django</strong></h1>
            </div>
        </header>


        <nav>
            <ul>
                <li>
                    <!--<a href = '/'>Inicio</a>-->
                    <a href="{% url 'n_index' %}"><strong>Inicio</strong></a>
                </li>

                {% if user.email %}
                    <li>
                        <!--<a href = '/'>Inicio</a>-->
                        <a href="{% url 'n_articulos' %}"><strong>Categorías</strong></a>
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'n_category' category.0 %}"><strong>{{ category.1 }}</strong></a>
                                </li>  
                            {% endfor %}
                        </ul>
                    </li> 
                    {% for page in pages %}
                        <li>
                            <a href="{% url 'n_page'  page.2 %}"><strong>{{ page.1 }}</strong></a>
                        </li>  
                    {% endfor %}
                    <li>
                        <a href="{% url 'n_logout' %}"><strong>Logout</strong></a>
                    </li>


                {% else %}

                    <li>
                        <a href="{% url 'n_registro' %}"><strong>Registro</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'n_login' %}"><strong>Login</strong></a>
                    </li>

                {% endif %}

            </ul>
        </nav>



        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>

        <div id="content">
            <div class="box">
                {% block content %}
                    <!--Código que viene de templates-->
                    <strong>Contenido del bloque original!!></strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            Master en python &copy; DServo-Labs WEB - {% now "d/m/Y" %}
        </footer>

    </body>
</html>