{% extends 'layout.html' %}

{% block title %}
    Listado de artículos
{% endblock %}

{% block content %}
    <h1 class="title">Listado de artículos</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                <strong>{{ message }}</strong>
            </div>
        {% endfor%}
    {% endif %}

    <ul>
        {% for articulo in articulos %}
            <li>
                <h4> {{ articulo.id }}. {{ articulo.title }} </h4>
                <span>{{articulo.created_at}}</span>
                {% if articulo.public %}
                    <strong>Público</strong>
                {% else %}
                    <strong>Privado</strong>
                {% endif %}
                <p>
                    {{ articulo.content}}
                    <br>
                    <a href= "{% url 'n_borrar_articulo' p_id=articulo.id %}">Eliminar</a>
                </p>
                <hr/>
                <br>
                
            </li>
        {% endfor %}
    </ul>

{% endblock %}

