<!--
    Dos formas de enviar datos:
    GET: Viajan por url
    POST: Viajan por las cabeceras http
-->

{% extends 'layout.html' %}

{% block title %}
    Formularios de Artículo
{% endblock %}

{% block content %}
    <h1 class="title">Formularios de Artículo</h1>

    <form action = {% url 'n_save_article' %} method = "POST">

            {% csrf_token %}

            <label for="title">Título: </label>
            <input type="text" name="title" placeholder="Ej. Nombre de Artículo" />

            <label for="content">Contenido: </label>
            <textarea name="content" placeholder="Ej. Escriba aquí una reseña del artículo"></textarea>

            <label for="public">¿Publicado?: </label>
            <select name="public">
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>    

            <input type="submit" value="Guardar"/>

    </form>

{% endblock %}
 