<!--
    Dos formas de enviar datos:
    GET: Viajan por url
    POST: Viajan por las cabeceras http
-->

{% extends 'layout.html' %}

{% block title %}
    Formularios de Artículo
{% endblock %}

{% block content %}
    <h1 class="title">Formularios de Artículo</h1>

    {% if form.errors %}
        <strong class="rojo">
            Hay errores en el Formulario
        </strong>
    {% endif %}

    <!--<form action = "{% url 'n_save_article' %}" method = "POST">-->
    <form action = "" method = "POST">

        {% csrf_token %}

        <!--{{ form}}-->
        <!--{{ form.as_ul}}-->
        {{ form.as_p }}

        <input type="submit" value="Guardar"/>
    </form>

{% endblock %}
 