{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8' />
        <title>
            {% block title %}

            {% endblock %}
            | DServo
        </title>

        <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}" /> 
    </head>
    <body>
        <h1>Sitio web con Django | Dernier Servo</h1>
        <hr/>
        <ul>
            <li>
                <a href = '/'>Inicio</a>
            </li>
            <li>
                <a href = '/hola-mundo'>Hola mundo</a>
            </li> 
            <li>
                <a href = '/otra-pagina'>Otra página</a>
            </li>      
            <li>
                <a href = '/contacto2'>Contacto</a>
            </li>       
        </ul>
        <hr/>      
        
        <div id="content">
            {% block content %}
                <!--Código que viene de templates-->
                <strong>Contenido del bloque original!!></strong>
            {% endblock %}
        </div>

        <footer>
            <hr/>
            Master en python &copy; DServo-Labs WEB 2020
        </footer>

    </body>
</html>