{% extends 'layout.html' %}

{% block title %}
    Otra página 
{% endblock %}

{% block content %}
    <h1 class="title">Otra página!</h1>
    <!--
        Aplicando un filtro que quita los espacios en la cadena:
        <h2> {{"Esta es una página alternativa de la principal."|cut:" " }} </h2>
    -->
    <h2> {{"Esta es una página alternativa de la principal."|cut:" " }}</h2>
    
    <p> {{ texto_prueba|default:"No hay nada" }} </p>
    <ul>
        <li> <strong> Primer Elemento: </strong> {{ lista_prueba|first }} </li>
        <li> <strong> Último elemento: </strong> {{ lista_prueba|last }} </li>
        <li> <strong> Número Aleatorio: </strong> {{ lista_prueba|random }} </li>
        <li> <strong> Concatenación: </strong> {{ lista_prueba|join:', ' }} </li>
        <li> <strong> Longitud: </strong> {{ lista_prueba|length }} </li>
    </ul>
    <!-- 
        Filtro "striptags" ignora todo las etiquetas de estilo a la cadena 
        Filtro "wordcount" cuenta la cantidad de palabras
        Documentación: https://docs.djangoproject.com/en/3.0/ref/templates/builtins/
    -->

    <p>{{ "<h1>texto</h1> <strong>Pruebas</strong> hola <p> mundo </p> "|striptags|wordcount }}
    {% load filters %}
    {{"Dernier Servo Web"|saludo|safe}}

{% endblock %}
 