/*Estlos generales*/

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

.box p, .box h2, .box h3, .box ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul, .box ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
    float: none;
}

body {
    background-color: #F2F2F2;
}

/* Estilos cabecera */
header {
    width: 1200px;
    height: 140px;
    background-color: #232828;
    margin: 0px auto;
    margin-top: 10px;
}

#logotipo {
    width: 40%;
    height: 130px;
    margin: 0 auto; 
    padding-top: 10px;
}

#logotipo img {
    display: block;
    width: 70px; 
    float: left;
    margin-top: 20px;
}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #42a977;
}

/*Estilos barra navegación*/
nav {
    width: 1250px;
    height: 50px;
    margin: 0 auto;
    background-color: #1B1E1F;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px rgb(14, 13, 13);
    font-size: 15px;
}

nav > ul {
    list-style: none;
    text-decoration: none;
}

nav > ul > li {
    line-height: 40px;
    float: left;
}

nav > ul > li > a {
    display: block;
    padding: 5px;
    padding-right: 15px;
    color: #d1d4d6;
}

nav > ul > li > a:hover {
    background: #2ba977;
    box-shadow: 0px 0px 5px #444 insert ;
    color: white;
    transition: 500ms;
}

nav > ul > li:hover > ul {
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}

nav > ul > li > ul {
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray; 
}


nav > ul > li:hover > ul > li{
    background: rgb(51, 50, 50);
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

nav > ul > li:hover > ul > li a{
    color: white;
    transition: all 300ms;
}

nav > ul > li:hover > ul > li:hover{
    background-color: #42a977;
}

nav > ul > li:hover > ul > li:hover a{
    display: block;
    color: white;
}

.barra {
    width: 1240px;
    margin: 0 auto;
}

.esquina-izquierda {
    display: block;
    border-left: 30px solid transparent;
    border-top: 10px solid #2b2f30;
    float:left;
}

.esquina-derecha {
    display: block;
    border-right: 30px solid transparent;
    border-top: 10px solid #2b2f30;
    float:right;
}

.relleno-barra {
    display: block;
    width: 1180px;
    height: 10px;
    background: #2b2f30;
    float: left;
}

/* Estilos contenido central*/

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

.box {
    background: white;
    width: 95%;
    min-height: 930px;
    padding-bottom: 10px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
}

.box .image {
    width: 45%;
    float: right;
    margin-left: 40px;
}

.box .image img {
     width: 100%;
}

.box a {
    color: #444;
    transition: all 300ms;    
}

.box a:hover {
    color: #2ba977;
}

.box form {
    width: 30%;
}

.box form input,
.box form label {
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.box form select {
    width: 100px;
    margin-bottom: 10px;
}

.box form input[type='submit'],
.box form input[type='button'],
.box form button {
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    color: white;
    border: 1px solid #444;
    transition: 200ms all;
}

.rojo {
    color: red;
}

.message,
.alert-success,
.alert { 
    padding: 20px;
    background: #82fd96;
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.alert-warning {
    background: rgb(143, 23, 23);
}

.box form input[type='submit']:hover,
.box form input[type='button']:hover,
.box form button:hover {
    cursor: pointer;
    background: #27523d;
}

.title {
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.date {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
}

.content {
    line-height: 25px;
}

.article-item{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear: both;
}

.article-item .image{
    height: 50%;
    float: left;
    overflow: hidden;
}

.article-item .image img {
    height: 100%;
}

.article-item .data {
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.article-item h2 {
    display: block;
    font-size: 25px;
    color: rgb(40, 40, 92);
    margin-bottom: 10px;
}

.article-item span.date {
    display: block;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    background: rgb(182, 59, 59);
    color: white;
    border: 1px solid black;
    display: block;
    margin-top: 15px;
    width: 100px;
    text-align: center;
}

.btn:hover {
    background: #621e1e;
    box-shadow: 0px 0px 5px #444 insert;
    color: white;
    transition: 500ms;
}

footer {
    width: 1260px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}